/* CSS */

body {
    background-color: #E8D983;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: #2E4262;
    width: 100%;
    height: 50px;
    line-height: 50px;
    position: fixed;
    top: 0;
}

nav ul {
    list-style-type: none;
    text-align: center;
    margin: 0;
}

nav ul li {
    display: inline;
    margin-left: 50px;
}

nav ul li a {
    text-decoration: none;
    color: #E8D983;
    font-size: 20px;
    padding: 14px;
}

nav ul li a:hover {
    background-color: #148192;
}

.banner {
    margin-top: 60px;
    text-align: center;
}

h1,
h2,
h3 {
    color: #2E4262;
}

.card {
    background-color: #EB5759;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
}

.video-section {
    display: flex;
}

.video {
    width: 35%;
    margin: 10px;
}

.video-description {
    width: 65%;
    background-color: #EB5759;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
}

.form-control {
    display: flex;
    justify-content: space-around;
}

.form-control input {
    width: 200px;
    height: 30px;
    border: 2px solid #2E4262;
    border-radius: 5px;
    text-align: center;
}

.form-control button {
    width: 100px;
    height: 30px;
    border: 2px solid #2E4262;
    border-radius: 5px;
    background-color: #148192;
}

.form-control button:hover {
    color: #E8D983;
    background-color: #2E4262;
    cursor: pointer;
}

footer {
    background-color: #2E4262;
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: #E8D983;
}