/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body {
    line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

nav ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}


/* change colours to suit your needs */

ins {
    background-color: #ff9;
    color: #000;
    text-decoration: none;
}


/* change colours to suit your needs */

mark {
    background-color: #ff9;
    color: #000;
    font-style: italic;
    font-weight: bold;
}

del {
    text-decoration: line-through;
}

abbr[title],
dfn[title] {
    border-bottom: 1px dotted;
    cursor: help;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* change border colour to suit your needs */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #cccccc;
    margin: 1em 0;
    padding: 0;
}

input,
select {
    vertical-align: middle;
}


/* CSS */

body {
    background-color: #E8D983;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: #2E4262;
    width: 100%;
    height: 50px;
    line-height: 50px;
    position: fixed;
    top: 0;
}

nav ul {
    list-style-type: none;
    text-align: center;
    margin: 0;
}

nav ul li {
    display: inline;
    margin-left: 50px;
}

nav ul li a {
    text-decoration: none;
    color: #E8D983;
    font-size: 20px;
    padding: 14px;
}

nav ul li a:hover {
    background-color: #148192;
}

.banner {
    margin-top: 60px;
    text-align: center;
}

h1,
h2,
h3 {
    font-size: 150%;
    color: #2E4262;
}

.card {
    background-color: #EB5759;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
}

.video-section {
    display: flex;
}

.video {
    width: 35%;
    margin: 10px;
}

.video-description {
    width: 65%;
    background-color: #EB5759;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
}

#subscribe {
    padding-bottom: 20px;
}

.form-control {
    display: flex;
    justify-content: space-around;
}

.form-control input {
    width: 200px;
    height: 30px;
    border: 2px solid #2E4262;
    border-radius: 5px;
    text-align: center;
}

.form-control button {
    width: 100px;
    height: 30px;
    border: 2px solid #2E4262;
    border-radius: 5px;
    background-color: #148192;
}

.form-control button:hover {
    color: #E8D983;
    background-color: #2E4262;
    cursor: pointer;
}

footer {
    background-color: #2E4262;
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: #E8D983;
}